@model LoginApp.ViewModel.EncryptForm

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome!</h2>

<form method="post">
    <div class="form-group">
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })

    </div>
    
    <button type="submit" class="btn btn-primary">Encrypt</button>
</form>

<hr />

@if (!string.IsNullOrEmpty(Model.Encrypted))
{
    <p>Encrypted: </p>
    @Html.TextAreaFor(m => m.Encrypted);

    <p>Decrypted: </p>
    @Html.TextAreaFor(m => m.Decrypted);
}

